body {
    background-color: #f18807;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.title {
    color: #f30418;
    font-size: 2.5em;
}

.message {
    font-size: 1.2em;
    margin: 10px 0;
}

button {